<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="imagen-perfil">
        <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre mi</h1>
            <p>
                Hola! Soy Brenda, bienvenidos a mi portfolio. Tengo 22 años, 
                me estoy desarrollando en la industria del softwere paso a paso, 
                creciendo en cada error que me de la consola, pero aprendiendo con cada uno de ellos.
            </p>
        </span>
    </div>
</div>