<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Blog de Café</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi harum, provident nulla, sint distinctio in ut voluptatum at animi facilis ullam incidunt quos alias neque recusandae fugiat quasi placeat veniam!</p>
        </div><!--proyecto1-->
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/cafe.jpeg" alt="proyecto 1">
        </div><!--imagen-->
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Rock & EDM Festival </h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi harum, provident nulla, sint distinctio in ut voluptatum at animi facilis ullam incidunt quos alias neque recusandae fugiat quasi placeat veniam!</p>
        </div><!--proyecto1-->
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/festival.jpeg" alt="proyecto 2">
        </div><!--imagen-->
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Frontend Store</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi harum, provident nulla, sint distinctio in ut voluptatum at animi facilis ullam incidunt quos alias neque recusandae fugiat quasi placeat veniam!</p>
        </div><!--proyecto1-->
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/store.jpeg" alt="proyecto 3">
        </div><!--imagen-->
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Freelancer</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi harum, provident nulla, sint distinctio in ut voluptatum at animi facilis ullam incidunt quos alias neque recusandae fugiat quasi placeat veniam!</p>
        </div><!--proyecto1-->
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/freelancer.jpeg" alt="proyecto 4">
        </div><!--imagen-->
    </div>
</div>