<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Blog de Café</h1>
            <p>
                Web creada con diferentes lenguajes, entre ellos HTML y CSS,
                poniendo en práctica lo aprendido en diferentes cursos y tutoriales vistos, 
                tratando una temática, en este caso el café y combinando colores sobre el mismo.
            </p>
        </div><!--proyecto1-->
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/cafe.jpeg" alt="proyecto 2"  class="img-fluid img-proyecto">
        </div><!--imagen-->
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Rock & EDM Festival </h1>
            <p>Página web basada en un festival de musica, dónde cada visitante puede visualizar lo que brinda el evento,
                como también comprar entradas para los diferentes días. Practicando HTML Y CSS, probando el background y las diferentes propiedades.
            </p>
        </div><!--proyecto1-->
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/festival.jpeg" alt="proyecto 2"  class="img-fluid img-proyecto">
        </div><!--imagen-->
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Frontend Store</h1>
            <p>Proyecto basado en una tienda de indumentaria, poniendo en desarrollo habilidades obtenidas,
                practicando en profundidad el lenguaje de CSS, con herramientas de flex y grid.
            </p>
        </div><!--proyecto1-->
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/store.jpeg" alt="proyecto 3"  class="img-fluid img-proyecto">
        </div><!--imagen-->
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Freelancer</h1>
            <p>
                Proyecto creado con la finalidad de practicar conocimientos adquiridos, la idea principal de crear un portfolio sobre mi perfil,
                leguajes utilizados HTML, CSS, gulp, bootstrap, entre otros.
            </p>
        </div><!--proyecto1-->
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/freelancer.jpeg" alt="proyecto 4"  class="img-fluid img-proyecto">
        </div><!--imagen-->
    </div>
</div>