<div class="row">
    <div class="contenedor">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="social">
            <a href="https://www.facebook.com/breen.007/"><img src="../../../assets/facebook.png" id="facebook"></a>
            <a href="https://www.instagram.com/__luci.teri__/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/BrendaTeri"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.linkedin.com/in/brenda-teri/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf="isLogged">CERRAR SESIÓN</button>
        </div>
    </div>
</div>