<div class="row">
    <h1>Habilidades</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#e6e884'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="800">
        </circle-progress>
    </div> <!--.col-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#e6e884'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="800">
        </circle-progress>
    </div><!--.col-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#e6e884'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="800">
        </circle-progress>
    </div><!--.col-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/github-black.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#e6e884'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="800">
        </circle-progress>
    </div><!--.col-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/ts.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#e6e884'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="800">
        </circle-progress>
    </div><!--.col-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/angular.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#e6e884'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="800">
        </circle-progress>
    </div><!--.col-->
</div>